Hello,

Deployment of your SOC has completed.

A NiFi instance has been deployed at {{ nifi_url }}, and a template instantiated and enabled. A Kafka broker has been configured as the output of this NiFi instance.

Thanks.
